.container {
        background-image: url("./assets/darkheaderimage.jpg");
        height: 609px;
       
}
header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
}
.left {
        display: flex;
        border-radius: 50%;
}       
.left img {
        height: 20px;
        margin-right: 8px;
        border-radius: 50%;
        
}
.loan{
        color: white;
}
ul  {
      display: flex;  
      
}
ul li {
       text-decoration: none;
       list-style: none;
       margin: 0 5px;
       color: white;
}
.right {
        display: flex;
        color: white;
        
        gap: 8px;

}

.right button {
        background: transparent;
        color: #29a0a8;
        border: 1px solid #29a0a8;
        padding: 6px 13px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 4px;
}


section {
        display: flex;
        justify-content: center;
        align-content: center;
        overflow: hidden;
        align-items: center;
        margin-top: 90px;
}

.text{
        color: aliceblue;
        font-size: 40px;        
        font-family: sans-serif;
        width: 342px;
        FONT-WEIGHT: 200;       
        margin-right: 120px;
}       
.form-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 30px;                  
}



.firstheading{
        font-family: sans-serif;
        font-weight: bold;
        width: 100%;
        margin-bottom: 20px;
        font-size: 25px;
}

.secondheading{
        font-family: emoji;
        margin-bottom: 20px;
}

.register {
        background-color: rgb(35, 213, 217);
        padding: 10px;
        width: 93%;
        border: 1px solid lightseagreen;
        border-radius: 5px;
        color: white;
        margin-top: 20px;
}
form {
        width: 100%;
        padding: 25px;
 }

.form-input {      
        display: flex;
        flex-direction: column;
        gap: 24px;
        border-radius: 3px;
}

.form-input select, .form-input input{
        border: 1px solid #CCC;
        padding: 10px;
        border-radius: 6px;
}
label {
        width: 140px;
        display: block;
        font-weight: bold;
}

input {
        padding: 7px;
}

.bottom-section {
        text-align: center;
        margin-top: 20px;

}

.margin{
        margin: 10px;
}